.link {
  
}
.rooms {
  .wrap-rooms {
    display: flex;
    margin-left: 50px;
    padding-top: 120px;    
    justify-content: space-between;
    
  }
  .showRoom {
    display: flex;
  }
  .listRooms {
    p {
      font-size: 1.2em;
      margin-bottom: 0px;
    }
    h3 {
      font-weight: 700;
    }

  }

  .showRoom {
    margin-bottom: 60px;
    position: relative;
    max-width: 800px;
    cursor: pointer;
    &::after {
      content: "";
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.05);
      position: absolute;
      bottom: -30px;
    }
    .slider-Img {
      img {
        width: 300px;
      }
    }
    .showRoom-details {
      margin: 0 20px;
      position: relative;
      width: 100%;
      h5 {
        font-size: 1.5em;
        font-weight: 700;
        position: relative;
        padding-bottom: 10px;
        &::after {
          content: "";
          width: 10%;
          border: 1px solid rgba(0, 0, 0, 0.05);
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .utilsRoom {
        padding-bottom: 5px;
        font-weight: 500;
      }
    }
    .showRoom-review {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      bottom: 0;
      color: black;
      
    }
    p {
      color:black
    }
  }
  .map {
    width: 60%;
    margin-bottom: 30px;
    iframe {
      width: 100%;
      height: 90vh;
      position: sticky;
      top: 100px;
    }
  }
}
